html, body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

*, *:before, *:after {
  box-sizing: border-box;
  position: relative;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}

.header-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-item .logo-educap {
  height: 200px;

}

.header-item p {
  width: 15%;
  margin: 0 2%;
}

header nav ul {
  display: flex;
  margin: 7% 0;
  padding: 0;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 20px;
  color: rgb(129, 132, 131);
  text-transform: uppercase;
  text-align: left;
  line-height: 24px;
  letter-spacing: 0em;
  padding: 10px 10px;
  margin: 0 10px;
}

.contribua {
  border: 2px solid rgb(129, 132, 131);
}