html, body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

*, *:before, *:after {
  box-sizing: border-box;
  position: relative;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background: url(educap-assets/Assets-01.svg) no-repeat right -10%,
   url(educap-assets/Assets-02.svg) no-repeat -100px 200px,
   url(educap-assets/Assets-03.svg) no-repeat center bottom;
  background-size: 20%, 35%, 92%;
  /*background: blue;*/

}

.header-item {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 70px;
  margin-bottom: 295px;
}

.header-item .logo-educap {
  height: 200px;

}

.header-item p {
  width: 18%;
  margin: 0 2%;
  border: solid 1px #000;
  margin-right: 6%;
  padding: 0 15px;
  padding-top: 22px;
  padding-bottom: 52px;
}


header nav ul {
  display: flex;
  margin: 7% 0;
  padding: 0;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 20px;
  color: rgb(129, 132, 131);
  text-transform: uppercase;
  text-align: left;
  line-height: 24px;
  letter-spacing: 0em;
  padding: 10px 10px;
  margin: 0 10px;
}

#sobre {
  display: flex;
  justify-content: center; 
  flex-direction: column;
  padding-top: 43px;
}

/*#sobre .imgborder {
  width: 52%; 
  margin: 0 auto;
}*/

#sobre .img01 {
  width: 43%;
  height: auto;
  /*top: 42px;*/
  /*left: 27%;*/
  margin: 0 auto;
  border: solid 4px;
  border-color: linear-gradient(#FFFF9F, #FF9600);
  padding: 42px; 
}
.contribua {
  border: 2px solid rgb(129, 132, 131);
}


footer img {
  width: 30px;
}

