html, body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

*, *:before, *:after {
  box-sizing: border-box;
  position: relative;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background: url(educap-assets/Assets-01.svg) no-repeat 102% -30%,
   url(educap-assets/Assets-02.svg) no-repeat -100px 180px,
   url(educap-assets/Assets-03.svg) no-repeat center bottom;
  background-size: 25%, 35%, 92%;
  /*background: blue;*/

}

.header-item {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 150px;
  margin-bottom: 295px;
}

.header-item .logo-educap {
  height: 200px;

}

.header-item p {
  width: 18%;
  margin: 0 2%;
  border: solid 1px #000;
  margin-right: 6%;
  padding: 0 15px;
  padding-top: 22px;
  padding-bottom: 52px;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: fixed;
  z-index: 1;
  /*background: blue;*/
  background: rgba(255, 255, 255, 0.5);
  padding: 0;
  width: 100%;
  height: 90px;
}

header nav ul {
  display: flex;
  /*margin: 7% 0;*/
  padding: 0;
  
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 20px;
  color: rgb(129, 132, 131);
  text-transform: uppercase;
  text-align: left;
  line-height: 24px;
  letter-spacing: 0em;
  padding: 10px 10px;
  margin: 0 10px;
}

#sobre {
  display: flex;
  justify-content: center; 
  flex-direction: column;
  padding-top: 43px;
}

/*#sobre .imgborder {
  width: 52%; 
  margin: 0 auto;
}*/

#sobre .img01 {
  width: 43%;
  height: auto;
  /*top: 42px;*/
  /*left: 27%;*/
  margin: 42px auto;
  /*margin: 40px;*/
  border: solid 4px;
  border-color: linear-gradient(#FFFF9F, #FF9600);
  padding: 42px; 
}

#sobre .img02 {
  width: 43%;
  height: auto;
  margin: 0 auto;
}

#sobre p{
  font-family: 'Meta-Normal';
  font-size: 21px;
  color: rgb(150, 150, 150);
  font-style: normal;
  text-align: left;
  line-height: 25.2px;
  letter-spacing: 0em;
  width: 41%;
  margin: 0 auto;
  padding-top: 10px;
}


#sobre h2 {
 margin: 3% auto;
}

#sobre .ico-lm {
  height: 30px;
  margin-top: 25px;
}

#sobre .lm {
  font-family: 'Meta-Normal'
  font-size: 17px;
  color: rgb(150, 150, 150);
  font-style: normal;
  text-align: center;
  line-height: 20.4px;
  letter-spacing: 0em;

}

.contribua {
  border: 2px solid rgb(129, 132, 131);
}


footer img {
  width: 30px;
}

